<!DOCTYPE html>
<html lang="en">

<head>
    <title>OGD Real-Time Event Monitor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
            integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Real-Time OpenGameData Event List</h1>
    <div class="table-container">
        <div class="selector-container">
            <form>
                <label for="select_game">Choose a game:</label>
                <select id="select_game" name="select_game" onchange="selectGame(this.value)">
                    <option selected>AQUALAB</option>
                    <option>BACTERIA</option>
                    <option>BALLOON</option>
                    <option>CRYSTAL</option>
                    <option>CYCLE_CARBON</option>
                    <option>CYCLE_NITROGEN</option>
                    <option>CYCLE_WATER</option>
                    <option>EARTHQUAKE</option>
                    <option>ICECUBE</option>
                    <option>JOURNALISM</option>
                    <option>JOWILDER</option>
                    <option>LAKELAND</option>
                    <option>MASHOPOLIS</option>
                    <option>MAGNET</option>
                    <option>PENGUINS</option>
                    <option>THERMOVR</option>
                    <option>TRANSFORMATION_QUEST</option>
                    <option>WAVES</option>
                    <option>WIND</option>
                </select>
            </form>
        </div>
        <div class="filter-container">
            <label for="filter">Filter: </label>
            <input type="text" id="filter" placeholder="Enter filter text" onkeyup="filterTable()">
        </div>

        <div class="table-container table-responsive">
            <table class="table table-striped table-hover" id="feature-table">
                <thead class="thead-dark">
                    <tr>
                        <th>player_id</th>
                        <th>ActiveTime</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="table-container table-responsive">
            <table class="table table-striped table-hover" id="logger-table">
                <thead class="thead-dark">
                    <tr>
                        <th>app_id</th>
                        <th>app_branch</th>
                        <th>app_version</th>
                        <th>log_version</th>
                        <th>client_time</th>
                        <th>user_id</th>
                        <th>session_id</th>
                        <th>event_name</th>
                        <th>event_data</th>
                        <th>game_state</th>
                        <th>user_data</th>
                        <th>event_sequence_index</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!-- <script src="{{ url_for('static',filename='monitor.js') }}"></script> -->
    <script>
        // note that socket has to be variable in order to have both flask-socketio and flask-restful working
        var socket = io.connect('https://ogd-monitor.fielddaylab.wisc.edu');

        // when a client is connected, print it
        socket.on('connect', () => {
        console.log('Connected to the server');
        });

        // if socketio receives a new logger_data event, add a table row
        socket.on('logger_data', function (data) {
        console.log(`Received logger_data socket request, with data ${data}`)
        addTableRow(data);
        });

        const tableHeaders = [
        "app_id",
        "app_branch",
        "app_version",
        "log_version",
        "client_time",
        "user_id",
        "session_id",
        "event_name",
        "event_data",
        "game_state",
        "user_data",
        "event_sequence_index"
        ]

        const featureHeaders = [
        "player_id",
        "ActiveTime"
        ]

        const MAX_DATA_ROWS = 10;
        const MAX_FEATURE_ROWS = 10;

        // if the current row cells contain the filterText, display it in the table
        function shouldShow(cells, filterText) {
        let shouldShow = false;
        for (let j = 0; j < cells.length; j++) {
                const cellText = cells[j].textContent.toLowerCase();
                if (cellText.includes(filterText)) {
                    shouldShow = true;
                    break;
                }
        }
        return shouldShow;
        }

        // Add a new data row to the table
        function addTableRow(data) {
        
        // if the table row length is LARGER than MAX_DATA_ROWS, delete the last row
        const table = document.getElementById('logger-table').getElementsByTagName('tbody')[0];
        if (table.rows.length > MAX_DATA_ROWS) {
                console.log(table.rows.length);
                var lastIndex = table.rows.length - 1;
                table.deleteRow(lastIndex);
        }

        // insert a new table row
        const newRow = table.insertRow(0);
        newRow.style.display = 'none';
        for (const header of tableHeaders) {
                const cell = newRow.insertCell();
                cell.textContent = data.hasOwnProperty(header) ? data[header] : 'NA';
                if (header === "event_name" && data.hasOwnProperty("event")) {
                    cell.textContent = data["event"];
                }
        }

        // if the table is filtering, only reserve the incoming data that can be filtered
        const cells = newRow.getElementsByTagName('td');
        const filterText = document.getElementById('filter').value.toLowerCase();
        if (filterText === '' || shouldShow(cells, filterText)) newRow.style.display = '';

        }

        function addFeatureRow(feature_data) {
        // if the table row length is LARGER than MAX_DATA_ROWS, delete the last row
        const table = document.getElementById('feature-table').getElementsByTagName('tbody')[0];
        if (table.rows.length > MAX_FEATURE_ROWS) {
                console.log(table.rows.length);
                var lastIndex = table.rows.length - 1;
                table.deleteRow(lastIndex);
        }

        // insert a new table row
        const newRow = table.insertRow(0);
        newRow.style.display = 'none';
        for (const header of tableHeaders) {
                const cell = newRow.insertCell();
                cell.textContent = feature_data.hasOwnProperty(header) ? feature_data[header] : 'NA';
        }

        // if the table is filtering, only reserve the incoming data that can be filtered
        // const cells = newRow.getElementsByTagName('td');
        // const filterText = document.getElementById('filter').value.toLowerCase();
        // if (filterText === '' || shouldShow(cells, filterText)) newRow.style.display = '';
        }

        // Filter the table rows based on the filter text
        function filterTable() {
        const filterText = document.getElementById('filter').value.toLowerCase();
        const table = document.getElementById('logger-table').getElementsByTagName('tbody')[0];
        const rows = table.getElementsByTagName('tr');

        // if any row contains the filter text, display it
        for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                rows[i].style.display = shouldShow(cells, filterText) ? '' : 'none';
        }
        }

        // clear all table rows
        function clearTable(logger, features) {
        if (logger === true) {
                var table = document.getElementById('logger-table');
                var tbody = table.querySelector('tbody');
                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
        }
        if (features === true) {
                var table = document.getElementById('feature-table');
                var tbody = table.querySelector('tbody');
                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
        }
        }

        // after the selector changes to a new game
        function selectGame(selectedGame) {
        clearTable(true, true);
        socket.emit("game_selector_changed", selectedGame);
        }
    </script>
</body>

</html>